name: Deploy to GitHub Pages

on:
  push:
    branches: ["master"]
    paths: 
      - .github/workflows/cd-pages.yml
      - HikaraseTatiner/**
  workflow_dispatch:
  
env:
  PUBLISH_DIR: HikaraseTatiner/bin/Release/net8.0/publish/wwwroot

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - run: dotnet workload install wasm-tools
      - run: dotnet publish -c Release HikaraseTatiner/HikaraseTatiner.csproj
      - uses: SteveSandersonMS/ghaction-rewrite-base-href@v1
        with:
          html_path: ${{ env.PUBLISH_DIR }}/index.html
          base_href: /HikaraseTatiner/
      
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v2
        with:
          path: ${{ env.PUBLISH_DIR }}
      - uses: actions/deploy-pages@v4
        id: deployment
        
